body {
    font-family: 'PT Sans Caption', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 3vh;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    text-decoration: none;
    color: white;
    font-size: 5vh;
    font-weight: bold;
}

#menu-icon {
    font-family: Geneva, sans-serif;
    font-size: 6vh;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background: url('images/header.jpeg') center center no-repeat;
    background-size: cover;
}

.hero-title {
    max-width: 16em;
    margin: 0;
    font-size: 12vh;
    font-weight: bold;
    line-height: 7;
}

.hero-footer {
    display: flex;
    margin-bottom: 1em;
}

html,
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

*,
*:before,
*:after {}

.container {
    background-image: url('images/book.jpg');
}

.booksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    font-family: cursive;
    font-size: 50px;
    color: rgb(8, 7, 7);
    padding: 1px;
    margin: 1px;
    padding-top: 100px;
    width: 60%;
}

ul {
    padding: 0;
    margin-left: 100px;
    width: 100%;
}

li {
    font-family: sans-serif;
    color: rgb(68, 0, 255);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
}

img {
    height: auto;
    text-align: right;
    margin-left: 0 auto;
    width: 20%;
}

@media screen and (max-width: 480px) {
    .hero-title {
        font-size: 4vh;
    }
    img {
        width: 70%;
    }
    h3 {
        font-size: 30px;
    }
    ul {
        margin-left: 30px;
    }
}

@media screen and (min-width: 481px) {
    .hero-title {
        font-size: 7vh;
    }
    img {
        width: 30%;
    }
}

@media screen and (min-width: 1025px) {
    .hero-title {
        font-size: 10vh;
    }
    img {
        width: 20%;
    }
}